{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <h1>Acceuil</h1>

    <a href="{{ path('') }}">Accueil</a>
    <a href="{{ path('') }}">Boutique</a>
    <a href="{{ path('') }}">Mon compte</a>
    <a href="{{ path('') }}"></a>


{% endblock %}