.content {
    width: 100%;
    height: 100%;
    max-width: 400px;
    /* Ajustez la largeur maximale selon vos besoins */
    margin: 150px auto;
    /* Centre le contenu verticalement et horizontalement */
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
    /* Ajoute de l'espace intérieur pour le contenu */
}

.form {
    display: grid;
    gap: 20px;
    /* Ajoute de l'espace entre les éléments du formulaire */
}